@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200;300;400;500;600;700&display=swap');

@import 'tailwindcss';

body {
  font-family: 'Stack Sans Notch', sans-serif;
  -webkit-font-smoothing: antialiased;
  /*For better font rendering on WebKit browsers*/
  -moz-osx-font-smoothing: grayscale;
  /*For better font rendering on Firefox*/
}